/**************/
/* CSS REMEDY */
/**************/

/**************/
/* Lettertypes importeren */
/**************/

/* Normaal 400 */
@font-face {
    font-family: 'Europa';
    src: url('fonts/europa-regular.woff2') format('woff2'),
         url('fonts/europa-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Cursief 400 */
@font-face {
    font-family: 'Europa';
    src: url('fonts/europa-italic.woff2') format('woff2'),
         url('fonts/europa-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

/* Vet 700 */
@font-face {
    font-family: 'Europa';
    src: url('fonts/europa-bold.woff2') format('woff2'),
         url('fonts/europa-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Vet cursief 700 */
@font-face {
    font-family: 'Europa';
    src: url('fonts/europa-bolditalic.woff2') format('woff2'),
         url('fonts/europa-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}


*, *::after, *::before {
  box-sizing:border-box;  
  padding:0;
  margin:0;
  box-sizing: border-box;
  
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#fff;
	--color-background:#000000;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

h1{
    font-family: 'Europa', sans-serif;
    font-size: 32px;
}

p{
    font-family: 'Europa', sans-serif;
}